{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-12">
        <form method="POST" id="new-meeting" action="{% url 'meeting_creation' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h3>Agenda</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Møtetittel"></input>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group dtp">
                            <span class="input-group-btn datepickerbutton">
                            <a href="#" class="btn btn-primary">
                            <i class="fa fa-calendar fa-lg"></i></a></span>
                            <input class="form-control" id="id_event_end" name="event_end" type="text" placeholder="Tidspunkt" value=""/>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <button class="btn btn-success" type="submit">Opprett Møte</button>
                </div>
            </div>
        </form>
    </div>
</div>

