{% extends "base.html" %}

{% block title %}
Møteagenda - Online
{% endblock title %}


{% block content %}
    <section id="meetapp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>dotKom - Møteagenda</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <ul class="nav nav-pills nav-stacked" id="profile-tabs">
                        <li>
                            <a href="">Agenda</a>
                        </li>

                        <li>
                            <a href="">Feedme</a>
                        </li>

                        <li>
                            <a href="">Fravaer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}

