{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load fb_versions %}
{% load group_membership %}

{% block title %}
{{ opportunity.title }} - Online
{% endblock title %}

{% block content %}

<section id="careeropportunity">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>
                        {{opportunity.title}}
                            {% if user.is_authenticated %}
                                {% in_group "Komiteer" as in_komiteer %}
                                {% if in_komiteer %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'careeropportunity_dashboard_edit' opportunity.id %}">Edit</a></li>
                                        </ul>
                                    </div>
                            {% endif %}
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-7 careerdescription">
                {{ opportunity.description|striptags|markdown }}
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'company_details' opportunity.company.id %}">
                            <picture>
                                <source srcset="{{ opportunity.company.image.lg }}" media="(max-width: 992px)">
                                <img src="{{ opportunity.company.image.md }}" width="100%" alt=""/>
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="company"><!-- Start company style wrapper -->
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ opportunity.company.name }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="company-ingress"><p><i class="glyphicon glyphicon-time"></i> {{opportunity.deadline}} </div>
                                <div class="company-ingress"><p><i class="glyphicon glyphicon-globe"></i> <a href="{{opportunity.company.site}}">{{ opportunity.company.site }}</a></p> </div>
                                <div class="company-ingress"><p><i class="glyphicon glyphicon-phone-alt"></i> {{opportunity.company.phone_number}} </p></div>
                                <div class="company-ingress"><p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:{{ opportunity.company.email_address }}"> {{ opportunity.company.email_address }}</a></p></div>
                                <p class="pull-right company-image-caption"><a href="{{ company }}">Trykk for mer info<a></p>
                            </div>
                        </div>
                </div><!-- End company style wrapper -->
                <div class="company">
                    <div class="row">
                        <div id="Accordian" class="accordion-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#Accordian" href="#collapseContact">Krav</a>
                                    </h3>
                                </div>
                                <div id="collapseContact" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <h4>{{ opportunity.company.name }} vil ha en som...</h4>
                                        <ul>
                                            <li>Er levende</li>
                                            <li>Kan puste</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#Accordian"  href="#collapseProposal">Tilbud</a>
                                    </h3>
                                </div>
                                <div id="collapseProposal" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4>{{ opportunity.company.name }} tilbyr deg...</h4>
                                        <ul>
                                            <li>Jobb</li>
                                            <li>Mindre fritid</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content %}
