{% extends 'dashboard_base.html' %}

{% block title  %}Rutinator{% endblock %}
{% block page-header %}Rutinator{% endblock %}

{% block breadcrumbs %}
<li>Rutinator</li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'dashboard:task_create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Nytt oppdrag</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <p>Her finner du en oversikt over alle oppdrag.</p>
            <table class="table table-striped table-condensed tablesorter" id="marks_list">
                <thead>
                <tr>
                    <th>Tittel</th>
                    <th>Ansvarlig</th>
                    <th>Frist (hvis noen)</th>
                    <th>Type</th>
                    <th>Beskrivelse</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'dashboard:task_edit' pk=task.id %}">{{ task.title }}</a></td>
                        <td>{{ task.user }}</td>
                        <td>{{ task.deadline|date:'Y-m-d' }}</td>
                        <td>{{ task.get_task_type_display }}</td>
                        <td>{{ task.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
